<div class = "whole-wrapper">

  <h1>アイディア登録</h1>
  <%= form_with(model: @idea, local: true) do |f|%>
    <div ><%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: "new-sort-box", id:"category-id"}) %></div>
    <div class= "body-field"><%= f.text_area :body, autofocus: true, placeholder: "アイディアを書く（300文字以内）　", class: "body-field" %></div>
    <div class= "body-field-actions-box"><%= f.submit "記録する", class: "body-field-actions" %></div>
  <% end %>

  <h2>※新規カテゴリー登録</h2>
  <%= form_with(model: @category, url: '/categorys' , local: true) do |t|%>
    <%= t.text_field :name, autofocus: true, placeholder: "新しいカテゴリー名（8文字以内） ", class: "new-category-name"%>
    <%= t.submit "新規カテゴリー作成", class: "new-category-actions" %>
  <% end %>
  <div class= "show-back-box">
    <%= link_to "一覧へ戻る", :back ,class: "show-back"%>
  </div>

</div>